*{
    margin: 0;
    padding: 0;
}
/* Conteudo:  */


main{
    margin: 2% 0 2% 0;
    text-align: center;
}

.tudo{
    margin-top: 200px;
}

#titulo{
    /* color: #1F6031; */
    text-align: center;
    font-size: 250%;
    color: black;
    padding: 2%;
}


fieldset{
    border: none;
    text-align: center;
}

h1{
    font-family: Poppins;
}

.tudo p{
    margin: 0 10% 0 10%;
    font-family: Poppins;
}


label{
    padding: 0 0 0 1%;
    margin-top: 10%;
    height: 5%;
    font-family: Poppins;
}


textarea{
    font-size: 150%;
}

.botao{
    display: flex;
    justify-content: center;

}
.button{
    width: 130px;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    background-color: rgb(55, 86, 55);
    align-self: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    cursor: pointer;
    font-family: Poppins;
}

@media screen and (max-width: 1000px) {
    textarea{
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 1000px) {
    main{
        padding-top: 25%;
    }
}
@media screen and (max-width: 800px) {
    main{
        padding-top: 26%;
    }
}