

/* principal */

 *{
    margin: 0;
    padding: 0;
}   
main{
    background-image: url(../img/pexels-photo-753873.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* fica em um lugar fixo */
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;

}


.adobotao{
    text-decoration: none;
    color: white;
}

.divprincipal{
    background-color: rgba(0,0,0,0.7);
    width: 900px;
    border-radius: 20px;
    height: 950px;
    margin-bottom: 20px
}


h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 60px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 0 50px 0 50px;
}


form {
    margin-top: 20px;
    padding: 0 150px 0 150px;
    }

label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 0 0 0 5px;
    margin-top: 10px;
    height: 5px;
}

input {
    font-size: 15px;
    border: none;
    background-color: white;
    width: 600px;
    height: 60px;
    padding: 0 0 0 10px;
    border-left: 1px solid black;
}


fieldset{
    border: none;
    display: flex;
    flex-direction: column;
}


.icone{
    display: flex;
    background-color: white;
    color: #000000;
    align-self: center;
    width: auto;
    padding: 5px;
    font-size: 40px;
    border-radius: 4px;
    width: 600px;
    margin-bottom: 15px;
}


.icone i{
    margin: 8px;
}


legend{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    padding: 0 0 0 5px;
    margin-top: 10px;
    height: 5px;
    font-size: 15px;
}




.divacesso{
    background-color: rgba(0,0,0,0.7);
    width: 900px;
    border-radius: 20px;
    height: 700px;
    margin-bottom: 12%;
    margin-top: 18% ;

}


.inpend{
    border-color: white;
    width: 500px;
}

.button{
    width: 160px;
    height: 60px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    background-color: rgb(56, 82, 56);
    align-self: center;
    color: rgb(255, 248, 248);
    align-items: center;
    margin-top: 60px;
    margin-left: 38%;
}





/* resposividade */

@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    h1 {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10% ;
    }

    .aprincipal {
        margin-right: 10px;
        font-size: 16px;
    }

    main {
        padding-top: 20px;
    }

    .divacesso {
        width: 90%;
        margin: auto;
        padding: 20px;
        height: auto;
        margin-top: 40%;
    
    }



    .button {

        width: 60%;
        font-size: 20x;
        margin-top: 12%;
        margin-right: 40%;
        
    }

    input {
        width: 100%;
        box-sizing: border-box;
    }
    
    .icone{
        width: 300px;
        margin: auto;
        padding: 15x;
        height: auto;
    }

    .adm{
        
        font-size: 12px;

    }

    fieldset{
        margin-left: 0;
        margin-right: 10%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .alinhatd{

        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
    }



}

@media only screen and (max-width: 640px){

    .alinhatd{
        margin-right: 50%;
    }
}

