

/* GERAIS: */


.titulo{ /*titulos h2 */
    font-size: 35px;
    text-align: center;
    font-family: #;
 }


 .subtitulo{ /*titulo h3 */
    font-size: 30px;
    text-align: center;
    font-family: #;
 }


 .paragrafo{ /* texto p*/
    font-size: 23px;
    text-align: center;
    font-family: #;
 }




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}












/* CONTEUDO:  */


#carrossel{
    margin: 0;
    padding: 0;
}


.slideshow-container {
    width: 100%;
    height: 35vw;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
 
  .slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
 
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 8px;
    background-color: transparent;
    border: white 3px solid;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
  }
 
  .dot.active {
    background-color: white;
  }




.titulo1{
    margin: 3% 0 4% 0;
    color: black;
}


.subimp{
    font-size: 50px;
}


#div1{
 display: flex;
 flex-direction: row;  
 justify-content: space-evenly;
 margin: 3px 60px 5% 60px;
}


.conteud1{
    padding: auto;
    text-align: center;
    margin: auto;
    /* margin-left: 10px;
    margin-right: 10px; */
}


/* .paragrafo{
    margin: 1px 20px 10px 20px;
} */


.fonte{
    color: #151515;
    font-size: 15px;
    font-family: #;
}


.iconeimp{
    margin-bottom: 3px;
    font-size: 70px;
}




#div2{
    margin: 0 0 3% 0;
    display: flex;
    flex-direction: row-reverse;
    background-color: #1F6031;
    /* ---------------------------OLHA DPS -------------------------------------------------------------------------------------- */
    height: 200px;
    align-items: center;
   }


#importancia{
    width: 50%;
}


.titulo-importancia{
    margin: 0 5% 0 5%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 30;
    color: white;
}


.conteudo-importancia{
    margin: 0 5% 0 5%;
    text-align: center;
    font-size: 17px;
    color: white;
}


#prestar{
    font-size: 30px;
    text-decoration: none;
    color: white;
}


iframe{
    width: 50%;
    height: 100%;
}


#botaodenuncia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 6% 0 5% 0;
}




#botaodenuncia h2, #botaodenuncia a {
    margin: 2% 7%;
}


#botaodenuncia a{
    border: transparent;
    border-radius: 50px;
    padding: 1% 3%;
    background-color: #1F6031;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}











#sobre1{
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
}




#branco{
    width: 25vw;
    height: 30vw;
    display: inline-block;
}




#verde{
    width: 75vw;
    height: 30vw;
    display: inline-block;
    background-color: #1F6031;
    padding: 10vw 5vw 10vw 30vw;
    font-size: 1.5vw;
    color: white;
}




#imgsobre1{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: 25vw;
    border-radius: 20px;
}


.psobre{
    width: 60%;
    margin: auto;
    padding-bottom: 5%;
}
#sobre2 h2{
    margin-bottom: 15px;
}




#obj{
    background-color: #062c11;
    padding: 5% 0 5% 0;
}


.subcomp{
    color: white;
    font-size: 45px;
    margin-bottom: 3%;
}


ul{
    display: flex;
    flex-direction: row;
    /* padding-left: 5%;
    padding-right: 5%; */
    margin-left: 20%;
    margin-right: 20%;
}


li{
    margin: 5% 15% 15% 15%;
    text-align: justify;
    color: white;
}


img{
    object-fit: cover;
}



.subobj{
    color: white;
    padding: 20px 0 10px 0;
}


.bloco {
    position: relative;
    width: 120px;
    height: 115px;
    flex: 0 0 calc(25% - 20px);
    margin: 4px;
    flex: 1;
    overflow: hidden; /*overflow: hidden para esconder a borda preta */
}




.bloco .foto {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}


.bloco:hover {
    border: 1px solid #ffffff;
}


.bloco:hover .foto {
    height: 0;
    background-color: transparent;
}


.foto2 {
    margin: 5px;
    border: #ffffff solid 2px;
    padding: 28px;
}


#objetivos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


.objetivo {
    display: flex;
    margin: 2px 0;
    align-items: flex-start;
    align-items: stretch;
}


#objetivos h2 {
    text-align: center;
    margin-top: 25px;
    color: white;
    font-size: 20;
}


#objetivos p {
    text-align: center;
    margin: 4px;
    color: white;
    font-size: 12px;
}


.iconeobj{
    font-size: 45px;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}


.cor1{
    background-color: rgb(233, 61, 61);
}


.cor2{
    background-color: rgb(221, 221, 60);
}


.cor3{
    background-color: green;
}


.cor4{
    background-color: rgb(121, 16, 16);
}
.cor5{
    background-color: rgb(38, 38, 189);
}


.cor6{
    background-color: rgb(32, 82, 128);
}


.cor7{
    background-color: rgb(81, 13, 39);
}


.cor8{
    background-color: rgb(220, 134, 72);
}
.cor9{
    background-color: rgb(32, 199, 236);
}


.cor10{
    background-color: rgb(202, 121, 121);
}


.cor11{
    background-color: rgb(35, 74, 38);
}


.cor12{
    background-color: rgb(182, 36, 36);
}


#conjnoticias {
    width: 100%;
    margin: auto;
}


#noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.noticia {
    margin: 8px;
    /* text-align: center; */
}


#conjnoticias h2{
    text-align: left;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 12%;


}


.noticia a {
    text-decoration: none;
    color: #000000;
    display: block;
}


.noticia img {
    width: 280px;
    height: 170px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 10px;
}


.noticia h4 {
    margin: 0;
    font-size: 25px;
    width: 270px;
}


.noticia p {
    margin: 0;
    font-size: 15px;
    width: 270px;
}


#lermais{
    display: block;
    text-align: end;
    text-decoration: none;
    margin-top: 40px;
    margin-right: 200px;
    color: black;
    font-size: 20px;
    margin-bottom: 60px;
}









@media (max-width: 1200px) {
    #verde{
        padding-top: 5vw;
        height: 90%;
    }
    .slideshow-container {
        height: 45vw;
      }
  }


@media (max-width: 850px) {
    #div1{
        display: flex;
        flex-direction: column;
    }
    .conteud1{
        padding: 0 5% 0 5% ;
    }


    #verde{
        height: 45%;
    }


  }


@media  (max-width: 800px) {
    #sobre1{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    #verde{
        width: 100%;
        height: 40%;
        margin: auto;
        padding: 15vw 6vw 10vw 6vw;
        font-size: 17px;
    }
    #branco{
        width: 100%;
        margin: auto;
    }
    #imgsobre1{
        width: 55vw;
        height: 25vw;
        top: 30vw;
        left: 50vw;
    }




    #div2{
        display: block;
        margin: 0 0 3% 0;
        background-color: #1F6031;
        height: 200px;
       }
   
    iframe{
        float: right;
        width: 200px;
        height: 100px;
        margin: 5px;
        border-radius: 5px;
    }


    #importancia{
        width: auto;
    }


    .titulo-importancia{
        font-size: 35px;
        padding-top: 3%
    }
 
}






  @media (max-width: 820px) {
    /* CSS rules here */
    .conteud1{
        margin-bottom: 90px;
    }


    header{
        flex-direction: column;
    }


  }


  @media (max-width: 550px) {
    #div2{
        height: 230px;
    }
  }


  @media (max-width: 473px) {
    #div2{
        height: 240px;
    }
  }










  @media (max-width: 1200px) {
    #obj ul {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
 
  @media (max-width: 850px) {
    #obj ul {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
 
  @media (max-width: 600px) {
    #obj ul {
      flex-direction: column;
      align-items: center;
    }
 
    #obj ul > div {
      margin-bottom: 20px;
    }
    .slideshow-container {
        height: 75vw;
      }
  }
 


  @media screen and (max-width: 650px) {
    .objetivo {
      flex-direction: column;
      align-items: center;
    }
    .bloco{
        width: 120px;
        height: 115px;
        padding-bottom: 15px;
        margin-top: 1px;
    }
}




@media screen and (max-width: 650px) {
    .conteudo1{

        display: flex;
        flex-direction: column;
    }
    .slideshow-container {
        height: 70vw;
      }
}


















